/* Estilos generales */
body {
    font-family: 'Alfa Slab One', cursive;
    background: linear-gradient(135deg, #000000, #1c1c1c);
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

/* Estilos de encabezado */
h1 {
    text-align: center;
    color: #ffcc00;
}

h2 {
    text-align: center;
    color: #ffcc00;
}

/* Estilos de la lista de integrantes */
ul {
    list-style-type: none;
    padding: 0;
}

.integrante {
    margin-bottom: 20px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.integrante img {
    border-radius: 50%;
    margin-right: 10px;
}

.integrante a {
    color: #ffcc00;
    text-decoration: none;
}

.integrante a:hover {
    text-decoration: underline;
}

/* Estilos del módulo */
.modulo {
    background-color: rgba(255, 255, 255, 0.1);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    text-align: center;
}

.modulo a {
    color: #ffcc00;
    text-decoration: none;
}

.modulo a:hover {
    text-decoration: underline;
}

